.header 
  background: var(--color-primary)
  padding: 0.5rem 0
  
.header-container
  display: flex
  align-items: center
  justify-content: center
  width: var(--container-width)
  margin: 0 auto
  column-gap: 2rem

  form
    flex: 1
  
  a
    flex-shrink: 0
