.search-container
  display: flex
  flex: 1

  input
    font-size: 1.125rem
    padding: 0.2em 1em
    border: none
    flex: 1

  button
    border: none
    background: #eee
    height: 44px
    width: 44px