.product
  background: var(--color-white)
  position: relative

  &:first-child
    border-radius: 4px 4px 0 0

  &:not(:last-child)::after
    content: ''
    position: absolute
    left: 1.5rem
    right: 1.5rem
    bottom: 0
    height: 1px
    background: var(--color-background)

  a
    display: flex
    padding: 1rem

.product-image
  border-radius: 0.25rem
  margin-right: 1rem

.content
  margin-left: 1rem
  margin-top: 1rem

.price-container
  margin-bottom: 2rem

  strong
    font-size: 1.5rem
    font-weight: 500
    margin-right: 0.625rem

.title
  font-size: 1.125rem
  font-weight: 400
