:root
  --color-primary: #ffe600
  --color-white: #fff
  --color-blue: #3483fa
  --color-background: #eee
  --color-text: #333
  --color-text-soft: #666
  --container-width: 76.2vw

html,
body 
  height: 100%

html
  color: var(--color-text)
  font-family: "Proxima Nova",-apple-system,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif,sans-serif

body
  background: var(--color-background)

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0